
body{
    background-color: gray;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    .ILTR{
        list-style: none;
        float: right;
        padding: 10px 100px 10px 100px;
        div{
            display: flex;
            justify-content: center;
            align-items: center;          
        }
        img{
            height: 200px;
            width: 200px;
            float: left;
            margin-right: 25px;
        }
    }
}
header{
    width: 100%;
    padding: 10px;
    background-color: black;
    box-shadow: 5px 20px 5px #272727;
    box-sizing: border-box;
    border-radius: 0px 0px 75px 0px;
    img{
        height: 75px;
        margin-left: 5%;
    }
    nav{
        float: right;
        padding-top: 30px;
        padding-right: 90px;
        a{
            font-family: "Tektur", sans-serif;
            text-decoration: none;
            color: white;
            padding: 30px;
        }
        a:hover{
            transition: 1s;
            color: yellow;
        }
    }
}